.hero {
    width: 100%;
    padding: 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__icon {
    @include icon_display();
    flex: 1;
    margin-right: 30px;
}

.hero__info {
    flex: 7;
    margin-left: 10px;
    max-width: 226px;
}

.hero__title {
    line-height: 17px;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 17px;
    word-break: keep-all;
    white-space: nowrap;
}

.hero__subtitle {
    @include uppercase_label();
    margin-top: 5px;
    text-align: center;
    font-size: 11px;
}

.hero__close {
    position: absolute;
    left: 20px;
    top: calc(50% - 12px);
}

.hero__open {
    position: absolute;
    right: 10px;
    top: calc(50% - 12px);
}
